@model TakipProje.Models.OtomatikMail.LisansEmailJob

@{
    ViewBag.Title = "LisansMail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("LisansMail", "Mail", FormMethod.Post))
{

    <label>Kullanıcı Şifresi</label>
    <div class="input-group">
        <span class="fa fa-lock"></span>
        <input type="number" placeholder="Şifre" required="" name="LmailGun">
    </div>


    <br />

    <button class="btn btn-danger btn-block" type="submit">Giriş Yap</button>
    <br />


    <br />
}