@model TakipProje.Models.BakimAyrinti

@{

}


@foreach (var x in Model.bakim)
{
    foreach (var y in Model.bakimNot.Where(z => z.BakimID == x.ID))
    {

        <div class="jumbotron mt-3" style="margin-left:75px">
            <h3 style="color:#0094ff">@y.Kullanicilar.KullaniciAdi</h3>
            <h5 class="lead">
                @y.Aciklama
            </h5>
            <div style="font-size:12pt">@y.Tarih.ToString().Split(' ').First()</div>
        </div>

    }

}